#page-title
  #page-title-inner
    .container
      %h2
        %i.ico-stats.ico-white>
        = t("About Us")

#wrapper
  .container
    .row
      .span8
        #about
          .title
            %h3= t("About Us")
          %p
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
          %p
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
          %p
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
          %p
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.

        #history
          .title
            %h3= t("History")
          %p
            %span.dropcap> L
            orem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
          %p
            %span.dropcap.color> D
            olor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
          %p
            %span.dropcap.dark> S
            it amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
          %p
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.

        #team
          .title
            %h3= t("Team")
          .row
            .span4
              %img{:alt => "team member", :src => "img/team_member.jpg"}
                .team-name
                  John Doe
                  %span / Co-Founder, CEO
                %p
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                .social_profiles
                  %ul.social-bookmarks
                    %li.facebook
                      %a{:href => ""} facebook
                    %li.flickr
                      %a{:href => ""} flickr
                    %li.googleplus
                      %a{:href => "#"} googleplus
                    %li.linkedin
                      %a{:href => "#"} linkedin
                    %li.twitter
                      %a{:href => "#"} twitter
                    %li.pinterest
                      %a{:href => "#"} pinterest

            .span4
              %img{:alt => "team member", :src => "img/team_member.jpg"}
                .team-name
                  John Doe
                  %span / Co-Founder, CEO
                %p
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                .social_profiles
                  %ul.social-bookmarks
                    %li.facebook
                      %a{:href => ""} facebook
                    %li.flickr
                      %a{:href => ""} flickr
                    %li.googleplus
                      %a{:href => "#"} googleplus
                    %li.linkedin
                      %a{:href => "#"} linkedin
                    %li.twitter
                      %a{:href => "#"} twitter
                    %li.pinterest
                      %a{:href => "#"} pinterest

      .span4
        #sidebar
          .title
            %h3 Nuestros usuarios
          %ul.progress-bar
            %li
              %h5 Standard users ( 22% )
              .meter
                %span{:style => "width: 22%"}

            %li
              %h5 Advanced users ( 45% )
              .meter
                %span{:style => "width: 45%"}

            %li
              %h5 Profesional users ( 28% )
              .meter
                %span{:style => "width: 28%"}

            %li
              %h5 Masters users  ( 5% )
              .meter
                %span{:style => "width: 5%"}

          .title
            %h3 Tabs
          %ul.tabs-nav
            %li.active
              %a{:href => "#tab1"}
                %i.mini-ico-glass
                Tab 1
            %li
              %a{:href => "#tab2"}
                %i.mini-ico-list
                Tab 2
            %li
              %a{:href => "#tab3"}
                %i.mini-ico-pencil
                Tab 3
          .tabs-container
            #tab1.tab-content 1. Lorem ipsum pharetra felis. Aliquam egestas consectetur elementum class aptent taciti sociosqu ad litora torquent perea conubia nostra lorem inceptos orem ipsum dolor sit amet, consectetur adipiscing elit.
            #tab2.tab-content 2. Lorem ipsum pharetra felis. Aliquam egestas consectetur elementum class aptent taciti sociosqu ad litora torquent perea conubia nostra lorem inceptos orem ipsum dolor sit amet, consectetur adipiscing elit.
            #tab3.tab-content 3. Lorem ipsum pharetra felis. Aliquam egestas consectetur elementum class aptent taciti sociosqu ad litora torquent perea conubia nostra lorem inceptos orem ipsum dolor sit amet, consectetur adipiscing elit.

          .testimonial-container
            .title
              %h3 Testimonials
            .testimonials-carousel{"data-autorotate" => "3000"}
              %ul.carousel
                %li.testimonial
                  .testimonials Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                  .testimonials-bg
                  .testimonials-author
                    John Doe,
                    %span CEO
                %li.testimonial
                  .testimonials Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                  .testimonials-bg
                  .testimonials-author
                    John Doe,
                    %span CTO
                %li.testimonial
                  .testimonials Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                  .testimonials-bg
                  .testimonials-author
                    John Doe,
                    %span COO
                %li.testimonial
                  .testimonials Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                  .testimonials-bg
                  .testimonials-author
                    John Doe,
                    %span CMO

  .container
    %hr
      .clients-carousel
        %ul.slides.clients
          %li
            %img{:alt => "", :src => "img/logos/1.png"}/
          %li
            %img{:alt => "", :src => "img/logos/2.png"}/
          %li
            %img{:alt => "", :src => "img/logos/3.png"}/
          %li
            %img{:alt => "", :src => "img/logos/4.png"}/
          %li
            %img{:alt => "", :src => "img/logos/5.png"}/
          %li
            %img{:alt => "", :src => "img/logos/6.png"}/
          %li
            %img{:alt => "", :src => "img/logos/7.png"}/
          %li
            %img{:alt => "", :src => "img/logos/8.png"}/
          %li
            %img{:alt => "", :src => "img/logos/9.png"}/
          %li
            %img{:alt => "", :src => "img/logos/10.png"}/
      %hr

